.b-video-by-frame {
  width: 100%;
  background-color: #000;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &-top {
    position: absolute;
    z-index: 3;
    width: calc(100% - 2rem);
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: 2.6rem;
      color: #fff;

      a {
        color: #fff;
      }

      &-title {
        color: #333;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.8rem;
      }
    }
  }

  &-video {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    video {
      width: 100%;
      height: 50%;
    }

    &-controls {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 5rem;
      position: absolute;
      align-items: center;
      color: #fff;

      &-time {
        display: flex;
        gap: 0.3rem;
        color: #ccc;
        font-size: 2rem;

        .current {
          color: #fff;
        }
      }
    }
  }

  &-bottom {
    width: calc(100% - 1.8rem);
    color: #fff;
    position: absolute;
    bottom: 0.9rem;
    padding: 0.8rem 1rem;
    pointer-events: none;

    &-watch {
      display: flex;
      gap: 1rem;

      &-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
        gap: 0.5rem;

        .top {
          display: flex;
          align-items: center;
          gap: 0.6rem;

          img {
            width: 4rem;
            height: 4rem;
            background: #ccc;
            border-radius: 50%;
          }

          .right {
            .title {
              display: flex;
              align-items: center;
              gap: 0.8rem;

              span {
                display: inline-flex;
                line-height: 1;

                &.miss {
                  background: #f4ff;
                  border-radius: 4rem;
                  padding: 0.2rem 0.5rem;
                  font-weight: bolder;
                }
              }
            }
          }
        }

        .bottom {
          display: flex;
          gap: 0.4rem;
          flex-wrap: wrap;

          span {
            color: #1194ff;
          }
        }
      }

      &-right {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2.7rem;

        &-like {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.8rem;

          .text {
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }

    &-operation {
      pointer-events: auto;
      position: relative;

      &-progress {
        transition: all .3s;
        z-index: 2;
      }

      &-progress-bar {
        position: absolute;
        top: -7px;
        width: 100%;
        margin: 0 5px;
      }

      &-other {
        display: flex;
        gap: 1.2rem;
        font-size: 1.6rem;

        &-bullet {
          display: flex;
          align-items: center;
          background-color: #333;
          height: 2.5rem;
          border-radius: 2rem;
          flex: 1;
          padding-right: 0.8rem;

          .ant-input {
            height: 100%;
            background: transparent;
            border-color: transparent;
            color: #fff;
            box-shadow: none;

            &::-webkit-input-placeholder {
              color: #666;
            }
          }

          .ant-divider {
            border-color: #fff;
          }

          .icon-danmu {
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
