@import "./index.scss";
.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: calc(10px + 2vmin);
  color: tint($primary-color, 20%);
  user-select: none;

  .status {
    &::before {
      content: "状态：";
      color: tint($primary-color, 70%);
    }
  }

  .count {
    cursor: pointer;
  }
}

.content {
  height: calc(100vh - 50px);
  background-color: tint(#282c34, 10%);
  padding: 12px;
  .function {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .test {
    h1 {
      color: #fff;
    }
  }

  .App-link {
    color: #61dafb;
  }
}
